{% extends "statute.html" %}
{% block title %}Statute{% endblock %}
{% block content %}
{% block statute %}
<h1>Regulamin Extractor Team</h1>
<h1>1. Treść na kanałach powinna odpowiadać tytułom kanałów.</h1>
<h1>2. Bądź kulturalny, nie wyzywaj innych użytkowników i nie trolluj.</h1>
<h1>3. Nie nękaj innych użytkowników, ani w postach, ani w wiadomościach prywatnych.</h1>
<h1>4. Nie publikuj prywatnych korespondencji bez zgody drugiej strony.</h1>
<h1>5. Jeżeli masz problem z działaniem discorda lub innym użytkownikiem - zgłoś go nam.</h1>
<h1>6. Moderatorzy mają prawo usuwać wiadomości, których treść jest niezgodna z tym regulaminem.</h1>
<h1>7. Zabrania się wykorzystywania serwera do rozsyłania spamu.</h1>
<h1>8. Zabrania się umieszczania treści pornograficznych lub naruszających polskie prawo oraz odnośników do stron, które zawierają takie treści.</h1>
<h1>9. Każdy użytkownik odpowiada za publikowane treści przez siebie.</h1>
<h1>10. Osoby nieprzestrzegające regulaminu będą najpierw ostrzeżone, a w dalszej kolejności blokowane.</h1>
{% endblock %}
{% endblock %}